<div class="row">
    <div class="col-xxxl-8">
      <div class="row">
        <div class="col-md-6" >
          <nb-card size="large" item-width="xxlarge">
            <nb-card-header>
              Items in your Ebay Cart
            </nb-card-header>
            <nb-card-body>
                </nb-card-body>
                </nb-card>
              </div>
  
    
    <nb-card [size]="'xxlarge'" class="col-md-4">
      <nb-card-header>Total: xxx EGP</nb-card-header>
      <nb-card-body>
        <div class="shape-container">
          <div class="container-title">
            
          </div>
          <div class="subheader">
           </div>
          <div>
            <button class="btn btn-success btn-rectangle btn-demo" (click)="checkout()">Proceed To Checkout</button>
          </div>
        </div>
