<nb-layout>
    
  <nb-layout-header center>Mini eBay</nb-layout-header>

  <!-- <nb-layout-header center>Mini eBay</nb-layout-header> -->
  <nb-card-header _ngcontent-c31="">Mini eBay</nb-card-header>


  <nb-layout-column>

      <button routerLink="/auth/login" _ngcontent-c17="" class="btn btn-success btn-round btn-demo">Login</button>
      <button routerLink="/auth/signup" _ngcontent-c17="" class="btn btn-success btn-round btn-demo">Signup</button>
    <router-outlet></router-outlet>

  </nb-layout-column>

  <nb-layout-footer>Fucking Footer</nb-layout-footer>
</nb-layout>