<p align = 'justify'>Welcome to our website. We are The Hamburger Team. Our team consists of 22 engineering students from the German University in Cairo. 
    Our professor requested that we write 10-20 lines about our team, but we don't really have that much to offer, so here are the 
    first 9 lines from Ray Charles' Hit The Road Jack. Hope you enjoy.</p>

<p align = 'center'>(Hit the road Jack and don't you come back no more, no more, no more, no more)</p>
<p align = 'center'>(Hit the road Jack and don't you come back no more)</p>
<p align = 'center'>What you say?</p>
<p align = 'center'>(Hit the road Jack and don't you come back no more, no more, no more, no more)</p>
<p align = 'center'>(Hit the road Jack and don't you come back no more)</p>
<p align = 'center'>Woah Woman, oh woman, don't treat me so mean</p>
<p align = 'center'>You're the meanest old woman that I've ever seen</p>
<p align = 'center'>I guess if you said so</p>
<p align = 'center'>I'd have to pack my things and go (That's right)</p>

<nb-flip-card>
    <nb-card-front>
      <nb-card><nb-card-body>
            <img src = "http://images.gibson.com/Lifestyle/English/aaFeaturesImages2011/Billy-Gibbons_with-Pearly-Gates.jpg" width = 80 height = 120>
      </nb-card-body></nb-card>
    </nb-card-front>
    <nb-card-back>
      <nb-card><nb-card-body>
          <p align = 'center'>Billy McSwag (Mohamed Nawar)</p>
          <p align = 'center'>Billy just joined our team, he doesn't really know how to code, but he plays good music. That's why we keep him around.</p>
    </nb-card-body></nb-card>
    </nb-card-back>
  </nb-flip-card>