<p>Fucking signup</p>


<nb-card _ngcontent-c31="" _nghost-c23="">
    
      
      
    
    <nb-card-header _ngcontent-c31="">Sign Up:</nb-card-header>
    <nb-card-body _ngcontent-c31="">
        
      
        <div _ngcontent-c31="" class="input-group has-person-icon">
            <input _ngcontent-c31="" class="form-control" placeholder="E-Mail" type="text">
        </div>
        <div _ngcontent-c31="" class="input-group">
            <input _ngcontent-c31="" class="form-control" placeholder="Username" type="text">
        </div>
        
        <div _ngcontent-c31="" class="input-group">
          <input _ngcontent-c31="" class="form-control" placeholder="Password" type="password">
        </div>
       
        <!-- <div _ngcontent-c31="" class="input-group input-group-rounded">
          <input _ngcontent-c31="" class="form-control" placeholder="Rounded border" type="text">
        </div> -->
        <!-- <div _ngcontent-c31="" class="form-group">
          <input _ngcontent-c31="" class="form-control" placeholder="Project" type="text">
          <small _ngcontent-c31="" class="form-text">A block of help text that breaks into a new line and may extend beyond one line.
          </small>
        </div>
        <div _ngcontent-c31="" class="input-group">
          <input _ngcontent-c31="" class="form-control" disabled="" placeholder="Disabled input" type="text">
        </div>
        <div _ngcontent-c31="" class="input-group">
          <textarea _ngcontent-c31="" class="form-control" placeholder="Text Area" rows="5"></textarea>
        </div>
        <div _ngcontent-c31="" class="input-group input-group-sm">
          <input _ngcontent-c31="" class="form-control" placeholder="Small Input" type="text">
        </div>
        <div _ngcontent-c31="" class="input-group input-group-lg">
          <input _ngcontent-c31="" class="form-control" placeholder="Large Input" type="text">
        </div> -->

<button type="button"  class="btn btn-hero-success main-btn" >Sign Up</button>




