<br>
<div class=" panel panel-primary">
    <div class="panel-heading">
        <strong>Products</strong>
    </div>
    <table class=" table">
        <tr>
            <th>ID</th>
            <th>name</th>
            <th>price</th>
            <th>createdAt</th>
            <th>updatedAt</th>
            <th>seller</th>
        < /tr>
        <tr>
            <td>1</td>
            <td>pepsi</td>
            <td>25</td>
            <td>3/3/2018</td>
            <td>0</td>
            <td>esraa</td>
            <td>
                    <button  type="button" class="btn btn-primary">Edit</button>
                
            </td>
            <td>
                <button type="button" class="btn btn-primary">Delete</button>

            </td>
        </tr>

        <tr>
            <td>2</td>
            <td>black</td>
            <td>20</td>
            <td>3/3/2018</td>
            <td>0</td>
            <td>esraa</td>
            <td>
                <button type="button" class="btn btn-primary">Edit</button>

            </td>
            <td>
                <button type="button" class="btn btn-primary">Delete</button>

            </td>
        </tr>

        <tr>
            <td>3</td>
            <td>ginger</td>
            <td>35</td>
            <td>3/3/2017</td>
            <td>0</td>
            <td>esraa</td>
            <td>
                <button type="button" class="btn btn-primary">Edit</button>

            </td>
            <td>
                <button type="button" class="btn btn-primary">Delete</button>

            </td>
        </tr>


    </table>
</div>
